<% layout('layouts/boilerplate') %>

<div class="container">
  <div
    class="row vh-100 w-100 d-flex justify-content-center align-items-center"
  >
    <div class="col-md-4 text-center">
      <h1>Organized it all with Todo list</h1>
      <a href="/register" class="btn btn-primary">Get Started</a>
    </div>
  </div>
</div>
